body {
    background: linear-gradient(to bottom, #1a2a6c, #b21f1f, #fdbb2d);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.tile {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}